<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />   
    <link rel="stylesheet" href="./css/login.css"/>
    <title>{{title}}</title>
  </head>
  <body class="body">
    {{#if msg.error}}
      <h3 class="error">{{msg.error}}</h3>
    {{/if}}
    <form id="login-form" class="login-vertical" action="/api/user/login" method="POST">
    <div >
      <h1 class="store">Moon Accesorios</h1>
    </div>
      <h2 class="login-title">LogIn</h2>
      <div class="container">
      <label for="email">Email</label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        required
      />
      <label for="password">Password</label>
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        required
      />
      <button class="btn" id="btn" type="submit" onclick="login()">Login</button>
    </form>
  
    <button class="btn" onclick="location.href='/register'" type="button">Register</button>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  </body>
</html>