/* CSS styles for header */
#header {
    background-color:rgb(88, 58, 88);
    padding: 20px;
  }
  
  .store {
    color:rgb(88, 58, 88); 
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Tilt Neon', cursive;

  }
  body{
    background-color:rgb(60, 2, 87);
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .description{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .user-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logout {
    margin-right: 20px;
  }
  
  /* CSS styles for buttons */
  .btn {
    background-color: #b6589e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* CSS styles for main content */
  #main {
    margin-top: 20px;
  }
  
  /* CSS styles for menu buttons */
  .menu-buttons {
    margin-top: 20px;
  }
  
  .menu-buttons input[type="button"] {
    margin-right: 10px;
  }
  .card-container{
    margin-top: 200px;
    background-color:rgb(88, 58, 88);
    color: white;
    display: flex;
    width: 200px;
    height: 400px;
    flex-wrap: wrap;
    padding: 60px;
    text-align: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

input{
text-align: center;
width: 90px;
}
.btn{
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}
.credenciales{
    color: white;
}